.header {
  max-width: 1244px;
  margin: 0 auto;
  padding: 15px 0;
  height: 70px;

  &-container {
    display: flex;
    align-items: center;

    img {
      width: 108px;
      height: 41px;
      object-fit: cover;
      margin-right: 20px;
    }

    .icon-container {
      width: 30px;
      height: 40px;
      background-color: #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;

      .icon {
        color: #b6b5b5;
        font-size: 1.2rem;
      }
    }

    input {
      width: 640px;
      height: 40px;
      margin-right: 20px;
      outline: none;
      border: none;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      background-color: #eee;
      padding-left: 15px;
    }

    input::placeholder {
      font-size: 1rem;
      color: #b6b5b5;
    }

    button {
      color: #2cb1ba;
      outline: none;
      border: 1px solid #2cb1ba;
      padding: 10px 25px;
      margin-right: 15px;
      background-color: white;
      border-radius: 7px;
      width: 180px;
      cursor: pointer;
      font-size: 0.8rem;
    }
  }
}
