.header {
  max-width: 1240px;
  margin: 0 auto;
  height: 150px;
}

.offer {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.offer-avatar {
  display: flex;
  align-items: center;
}

.offer-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

img {
  width: 235px;
  height: 360px;
  object-fit: cover;
}

.link {
  cursor: pointer;
}
